{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Edu-News</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<!--fonts-->
	<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!--//fonts-->	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-select.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>
	<link href="{% static 'css/jquery.uls.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/jquery.uls.grid.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/jquery.uls.lcd.css' %}" rel="stylesheet"/>
	<!-- Source -->
	<script src="{% static 'js/jquery.uls.data.js' %}"></script>
	<script src="{% static 'js/jquery.uls.data.utils.js' %}"></script>
	<script src="{% static 'js/jquery.uls.lcd.js' %}"></script>
	<script src="{% static 'js/jquery.uls.languagefilter.js' %}"></script>
	<script src="{% static 'js/jquery.uls.regionfilter.js' %}"></script>
	<script src="{% static 'js/jquery.uls.core.js' %}"></script>
	<!--From here everythig starts for the leaflet Map-->
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>	


</head>
<body>
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="/news"><span>Edu</span>News</a>
			</div>
			{% comment %} Start from here {% endcomment %}
			<div class = "option">
				<a href="#home">Home</a>
				<a href="#contact">Contact</a>
				<a href="#about">About</a>
			</div>
			{% comment %} OK {% endcomment %}
			<div class="header-right">
				<a class="account" href="/accounts/logout">User: {{user.username}}</a>
				{% if user.username == '' %}
					<a class="account" href="/accounts/login">login</a>
				{% else %}
					<a class="account" href="/accounts/logout">logout</a>
				{% endif %}
			</div>
		</div>
	</div>




	<center>
		<div id="mapid" style='height: 338px; width: 1143px;'>
			
			<script>

				var mymap = L.map('mapid').setView([26.189901, 91.751877], 12);

				L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
					maxZoom: 18,
					attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
						'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
						'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
					id: 'mapbox/streets-v11',
					tileSize: 512,
					zoomOffset: -1
				}).addTo(mymap);

				L.marker([26.187368, 91.691558]).addTo(mymap)
					.bindPopup("<b>IITG</b><br />Visit");//.openPopup();

				L.marker([26.155789, 91.664659]).addTo(mymap)
					.bindPopup("<b>Gauhati University</b><br />Visit");//.openPopup();
				
				L.marker([26.144208, 91.66191]).addTo(mymap)
					.bindPopup("<b>Assam Engineering College</b><br />Visit");//.openPopup();



				var popup = L.popup();

				function onMapClick(e) {
					popup
						.setLatLng(e.latlng)
						.setContent("You clicked the map at " + e.latlng.toString())
						.openOn(mymap);
				}

				mymap.on('click', onMapClick);

			</script>
		</div>
	</center>







		<!-- content-starts-here -->
			{% block body %}




			{% endblock body %}
		<!-- content-end-here -->






		<!--footer section start-->		
		<footer>
			<div class="footer-bottom text-center">
				<div class="container">
					<div class="footer-logo">
						<a href="/news"><span>Edu</span>News</a>
					</div>
					<div class="footer-email">
						<h6 class="ftr-hdr" style="color: yellow">Subscribe to the mailing list</h6>
						<div id="ftr-email" class="ftr-email-form">
							<form method="post">
								<input style="height: 39px; width: 261px; text-align: center; border-radius: 20px;" type="text" name="email_address_" id="ftrEmailInput" class="input" placeholder="Enter email address" />
								<input type="submit" class="button" value="SUBSCRIBE" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</footer>
        <!--footer section end-->
</body>
</html>