{% extends 'base.html' %}
{% block body %}
	<!--single-page-->
	<div class="single-page main-grid-border">
		<div class="container">
			<div class="product-desc">
				<div class="col-md-7 product-view">
					<h2>{{object.title}}</h2>
					<p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">{{object.institute_city}}</a>| Added at {{object.entry_date}}</p>
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="{{object.image}}">
								<img src="{{object.image}}" />
							</li>
						</ul>
					</div>
					<!-- FlexSlider -->

					<!-- //FlexSlider -->
					<div class="product-details">
						<h4>Institution : <a href="#">{{object.institute_name}}</a></h4>
						<p><strong>Summary</strong> : {{object.summary}}</p>
					</div>
				</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//single-page-->
{% endblock %}



















{% comment %} <h1>News Detail</h1>

<h1>In App Template</h1>
<h2>{{object.title}}</h2>
<p>{{object.description}}</p><br>
<p>{{object.price}}</p> {% endcomment %}
