{% extends 'base.html' %}





{% block body %}
<!-- Products -->
<div class="total-ads main-grid-border">
    <div class="container">
        <div class="select-box">
        </div>
        <div class="ads-grid">
            <div class="side-bar col-md-3">
                <div class="search-hotel">
                    <h3 class="sear-head">Search Events</h3>
                    <form method="GET" action="/news">
                        <input type="text" value="Event name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Event name...';}" name ="q" required="">
                        <input type="submit" value=" ">
                    </form>
                </div>
            </div>
            <div class="ads-display col-md-9">
                <div class="wrapper">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                <div>
                                    <div id="container">
                                        <ul class="list">


                                                <a href="http://eict.iitg.ac.in/online_courses_training.html" target="_blank">
                                                    <li>
                                                        <section class="list-left">
                                                            <h6 class="title">4 batch for the certification programme on AI & ML by Eckovation in association with E&ICT Academy IIT Guwahati</h6>
                                                            <span class="adprice">Schedule: 15 Aug 2020 - 15 Aug 2020</span>
                                                            <p class="catpath"><font color="blue">Institution</font> » <font color="black">Indian Institute of Technology Guwahati</font></p>
                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Today, 17:55</span>
                                                            <span class="cityname">India, Guwahati</span>
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </a>

                                                <a href="https://event.iitg.ac.in/fmfp2020/" target="_blank">
                                                    <li>
                                                        <section class="list-left">
                                                            <h6 class="title">8th International and 47th National conference on Fluid Mechanics and Fluid Power</h6>
                                                            <span class="adprice">Schedule: 09 Dec 2020 - 11 Dec 2020</span>
                                                            <p class="catpath"><font color="blue">Institution</font> » <font color="black">Indian Institute of Technology Guwahati</font></p>
                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Today, 17:55</span>
                                                            <span class="cityname">India, Guwahati</span>
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </a>

                                                <a href="http://eict.iitg.ac.in/online_courses_training.html" target="_blank">
                                                    <li>
                                                        <section class="list-left">
                                                            <h6 class="title">4 months Internship programme on VLSI Circuit Design</h6>
                                                            <span class="adprice">Schedule: 10 Aug 2020 - 10 Dec 2020</span>
                                                            <p class="catpath"><font color="blue">Institution</font> » <font color="black">Indian Institute of Technology Guwahati</font></p>
                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Today, 17:55</span>
                                                            <span class="cityname">India, Guwahati</span>
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </a>

                                                <a href="http://eict.iitg.ac.in/online_courses_training.html" target="_blank">
                                                    <li>
                                                        <section class="list-left">
                                                            <h6 class="title">6 week Training cum Internship programme on AI & ML under TEQIP-III orgainsed by Assam Science Technology University</h6>
                                                            <span class="adprice">Schedule: 10 Aug 2020 - 20 Sep 2020</span>
                                                            <p class="catpath"><font color="blue">Institution</font> » <font color="black">Indian Institute of Technology Guwahati</font></p>
                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Today, 17:55</span>
                                                            <span class="cityname">India, Guwahati</span>
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </a>

                                                <a href="http://eict.iitg.ac.in/online_courses_training.html" target="_blank">
                                                    <li>
                                                        <section class="list-left">
                                                            <h6 class="title">6 week Training cum Internship programme on Industry 4.0 (Industrial IoT) under TEQIP-III orgainsed by Assam Science Technology University</h6>
                                                            <span class="adprice">Schedule: 10 Aug 2020 - 20 Sep 2020</span>
                                                            <p class="catpath"><font color="blue">Institution</font> » <font color="black">Indian Institute of Technology Guwahati</font></p>
                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Today, 17:55</span>
                                                            <span class="cityname">India, Guwahati</span>
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </a>

                                                <a href="http://eict.iitg.ac.in/online_courses_training.html" target="_blank">
                                                    <li>
                                                        <section class="list-left">
                                                            <h6 class="title">6 week Training cum Internship programme on Robotics Fundamentals under TEQIP-III orgainsed by Assam Science Technology University</h6>
                                                            <span class="adprice">Schedule: 10 Aug 2020 - 20 Sep 2020</span>
                                                            <p class="catpath"><font color="blue">Institution</font> » <font color="black">Indian Institute of Technology Guwahati</font></p>
                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Today, 17:55</span>
                                                            <span class="cityname">India, Guwahati</span>
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </a>


                                            {% comment %} {% for object in object_list %}
                                                <a href="single.html">
                                                    <li>
                                                        <section class="list-left">
                                                            <h5 class="title">{{object.title}}</h5>
                                                            <span class="adprice">$290</span>
                                                            <p class="catpath">Institution » IITG</p>
                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Today, 17:55</span>
                                                            <span class="cityname">City name</span>
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </a>
                                            {% endfor %} {% endcomment %}


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <center>

                                {% if object_list.has_other_pages %}
                                    <ul class="pagination pagination-sm">
                                        
                                        {% if object_list.has_previous %}
                                            <li><a href="?page={{ object_list.previous_page_number }}">Prev</a></li>
                                        {% else %}
                                            <li class="disabled"></li>
                                        {% endif %}

                                        {% for pages in object_list.paginator.page_range %}
                                            {% if object_list.number == pages %}
                                                <li><a href="#">{{pages}}</a></li>
                                            {% else %}
                                                <li><a href="?page={{pages}}">{{pages}}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if object_list.has_next %}
                                            <li><a href="?page={{ object_list.next_page_number }}">Next</a></li>
                                        {% else %}
                                            <li class="disabled"></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}

                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- // Products -->
{% endblock %}

















{% comment %} Raw actual Content
..................................................................................................................................................................................................
<h1>List of all News </h1>

{% for instance in object_list %}
    <li>{{ instance.id }} - <a href = '{{instance.get_absolute_url}}'> {{ instance.title }}</a></li>
{% endfor %}
{% endcomment %}